
/*---
Wrap
@group			Utility
@desc			...
@tags			helper
@todo			Document
@author			Michael Ord
---
...
*/
.u-wrap
{
	white-space					: normal;
}

/*---
Hide on Screen
@group			Utility
@desc			...
@tags			helper
@todo			Document
@author			Michael Ord
---
...
*/
.u-hide
{
	&\@screen
	{
		@extend %screen-reader;
	}

	&\@desktop
	{
		@include device(lg)
		{
			display				: none !important;
		}
	}

	&\@mobile
	{
		@include device(until-lg)
		{
			display				: none !important;
		}
	}
}



/*---
cc
@group			Utility
@desc			...
@tags			helper
@todo			Document
@author			Michael Ord
---
...
*/
div[aria-hidden="true"]
{
	display						: none;
}

// -----------------------------------------------------------------------------
// Text alignment classes
// These should be able to be used on any element, the use of the bemit include will
// produce @[size] variants e.g. .align-left@md{ text-align: left; }
// -----------------------------------------------------------------------------

/*---
Content Alignment
@group			Typography/Utility
@desc			...
@modifier		align-left		: Align Left
@modifier		align-right		: Align Right
@modifier		align-center  	: Align Center
@modifier		align-justify	: Align Jusfify
@tags			helper
@todo			Document
@author			Michael Ord
---
<p class="{modifier}">Lorem ipsum</p>
*/
.align-left
{
	@include bemit()
	{
		text-align				: left;
	}
}

.align-center
{
	@include bemit()
	{
		text-align				: center;
	}
}

.align-right
{
	@include bemit()
	{
		text-align				: right;
	}
}

.align-justify
{
	@include bemit()
	{
		text-align				: justify;
	}
}

/*---
Content Transforms
@group			Typography/Utility
@desc			...
@modifier		transform-lowercase		: Lowercase
@modifier		transform-uppercase		: Uppercase
@modifier		transform-capitalize	: Capitalize
@tags			helper
@todo			Document
@author			Michael Ord
---
<p class="{modifier}">Lorem ipsum</p>
*/
.transform-lowercase
{
	@include bemit()
	{
		text-transform			: lowercase;
	}
}

.transform-uppercase
{
	@include bemit()
	{
		text-transform			: uppercase;
	}
}

.transform-capitalize
{
	@include bemit()
	{
		text-transform			: capitalize;
	}
}
